_CONTAINER_WIDTH = 1200px
_CONTAINER_PADDING = 20px

_HEADER_HEIGHT = 90px
_HEADER_MENU_HEIGHT = 34px
_HEADER_MENU_ITEM_ROUND = 3px

_FOOTER_HEIGHT = 498px

.header
	position fixed
	top 0
	left 0
	right 0
	height _HEADER_HEIGHT
	border-bottom 1px solid color-fallback(rgba(0, 0, 0, .1))
	z-index 9999

	.logo-container
		margin-top 25px
		size 100px false

	.language-switch
		border-radius _HEADER_MENU_ITEM_ROUND
		border 1px solid COLOR_GRAY_LIGHT
		size _HEADER_MENU_HEIGHT
		line-height (_HEADER_MENU_HEIGHT + 2)
		margin-top ((_HEADER_HEIGHT - _HEADER_MENU_HEIGHT) / 2)
		margin-left 15px

	.top-nav
		margin-top ((_HEADER_HEIGHT - _HEADER_MENU_HEIGHT) / 2)

		ul
			overflow hidden
			white-space nowrap

			li
				display inline-block
				margin-left 20px

				a
					display block
					border-radius _HEADER_MENU_ITEM_ROUND
					size false _HEADER_MENU_HEIGHT
					line-height _HEADER_MENU_HEIGHT
					padding 0 10px

.main
	padding _HEADER_HEIGHT 0 0 0

.footer
	height _FOOTER_HEIGHT
	padding-top 58px

	.footer-content
		size false 290px
		border-bottom 1px solid COLOR_GRAY_DARK

		.footer-links
			li
				padding-top 15px

		.contact-address
			padding-top 22px
			size false 130px
