.cf
	clearfix()

.pull-left
	float left

.pull-right
	float right

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right

.text-justify
	text-align justify

.text-white
	color COLOR_WHITE

.text-black
	color COLOR_BLACK

.text-green
	color COLOR_GREEN

.text-blue
	color COLOR_BLUE

.text-blue-light
	color COLOR_BLUE_LIGHT

.bg-white
	background COLOR_WHITE

.bg-black
	background COLOR_BLACK

.bg-green
	background COLOR_GREEN

.bg-blue
	background COLOR_BLUE

.bg-gray
	background COLOR_GRAY
