_TEXT_FONT_FAMILY = 'Trebuchet MS'
_BASE_SIZE = 16px

body
	font-family font-stack(_TEXT_FONT_FAMILY)
	font-size _BASE_SIZE
	line-height 100%

a
a:visited
	color inherit
	text-decoration none

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right

.text-justify
	text-align justify

.text-white
	color COLOR_WHITE

.text-black
	color COLOR_BLACK

.text-green
	color COLOR_GREEN

.text-blue
	color COLOR_BLUE

.text-blue-light
	color COLOR_BLUE_LIGHT

.text-gray
	color COLOR_GRAY

.text-gray-light
	color COLOR_GRAY_LIGHT

.text-gray-dark
	color COLOR_GRAY_DARK

.text-yellow
	color COLOR_YELLOW

.text-bold
	font-weight 400

.text-italic
	font-style italic

.text-uppercase
	text-transform uppercase

.paragraph
	line-height 1.2em
