COLOR_WHITE = #ffffff
COLOR_BLACK = #000000
COLOR_GREEN = #7bc043
COLOR_BLUE = #0392cf
COLOR_BLUE_LIGHT = #6dcff6
COLOR_GRAY = #c5d2e1
COLOR_GRAY_LIGHT = #e1e1e1
COLOR_GRAY_DARK = #232323
COLOR_YELLOW = #fff000
