@import '../main'

.page-header
	background-image url('../img/bg/services.jpg')

.page-content
	background $color_white
	padding-bottom 70px

	.domain
		margin-top 100px

		.heading
			font-size 30px

		.sub-heading
			margin-top 10px
			font-size 18px

		.explain
			margin-top 20px
			line-height $text_paragraph_line_height
			padding-bottom 10px

			.download-promotions
				margin-top 35px
				padding-bottom 50px

				.promotion
					display inline-block
					background $color_blue
					border-radius 5px
					line-height 68px
					width 320px

					img
						vertical-align middle
						margin-right 10px

			.tech-icons
				margin-top 18px

				.tech-icon
					line-height 126px
					border 1px solid $color_gray_light

					img
						max-width 100%
						max-height 100%
						vertical-align middle



			.domain-illu
				max-width 100%
				max-height 100%
				vertical-align middle
