@import '../_main'

.section
	min-height 800px

	&.section-landing
		min-height 770px

	&.padding-top
		padding-top 80px

	.section-heading
		font-size 42px
		line-height 32px
		margin-bottom 22px
		text-transform uppercase

	.section-sub-heading
		font-size 18px
		line-height 13px
		text-transform uppercase

	.section-description
		margin-top 28px
		font-size 18px
