@import '../main'

.page-header
	background-image url('../img/bg/rd.jpg')
	background-position center center!important

.page-content
	background $color_white

	.section-intro
		padding-top 85px
		padding-bottom 110px

		.heading
			font-size $text_main_heading_size

		.picture-container
			position relative

			.picture
				img
					vertical-align middle

			.picture-frame
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				background url('../img/frames/pinned_picture.png') no-repeat center center
				background-size 100% 100%

		.explain
			line-height $text_paragraph_line_height

		.reason
			&.first
				margin-top 62px

			&.second
				margin-top 38px

			&.first
			&.second
				line-height $text_paragraph_line_height
				padding-bottom 36px

		.reason-break
			width 225px
			border-bottom 1px solid $color_gray_light

	.section-videos
		background $color_green
		padding-top 150px
		padding-bottom 150px

		.video-container
			background $color_white
			padding-top 25px
			height 500px

			.video-frame
				margin 0 30px
				height 280px
				background $color_blue_light

			.heading
				margin-top 55px
				font-size 18px

			.explain
				margin-top 10px
				line-height $text_paragraph_line_height
				padding 0 20px

	.section-crazy
		background $color_white
		padding-top 170px
		padding-bottom 170px

		.heading
			font-size $text_main_heading_size

		.explain
			font-size 30px
			margin-top 65px

	.section-contact
		background $color_blue
		padding-top 100px
		padding-bottom 90px

		.intro
			font-size 30px
			line-height 36px

		.contact
			margin-top 50px

			a
				display inline-block
				border-radius 3px
				background $color_white
				font-family 'Raleway'
				font-weight bold
				padding 0 22px
				line-height 70px
				font-size 30px

				.icon-see-more
					margin-left 10px
