@import '../main'

.page-header
	background-image url('../img/bg/success_stories.jpg')

.page-content
	background $color_white
	padding-bottom 60px

.section
	padding-top 80px

	&.first
		margin-top 100px

	.heading
		font-size 30px

	.sub-heading
		font-size 18px
		margin-top 5px

	.explain
		margin-top 30px
		line-height $text_paragraph_line_height

	.detail-info
		margin-top 40px
		line-height $text_paragraph_line_height

	.result
		margin-top 30px
		margin-left 20px
		border-left 5px solid $color_blue
		padding 10px 0 10px 20px
		line-height $text_paragraph_line_height

.download
	margin-top 70px
	background $color_blue
	padding-top 70px
	padding-bottom 60px

	.heading
		font-size 30px

	.download-button
		margin-top 45px

		a
			font-size 30px
			display inline-block
			line-height 70px
			padding 0 27px
			border-radius 3px
			background $color_white
			font-family 'Raleway'
			font-weight bold

			.icon-see-more
				padding-left 10px
