@import '../main'

.about-us
  & .masthead-wrapper
    & p
      color: #fff
      font-size: 72px
      line-height: 254px
      margin: 0

  &__content
    padding-left: 60px
    padding-right: 60px

  & .text-center
    color: #003663
    text-align: center

  &__strategic
    background-color: #f4f4f4
    padding: 60px 0 30px;

    &--title
      font-size: 36px
      margin-top: -15px
      margin-bottom: 0

    &--item
      &-title
        font-size: 60px

        &:after
          content: ""
          width: 90px
          height: 3px
          top: 112px
          right: 50%
          transform: translateX(50%)
          background-color: #003663
          position: absolute

      &-total
        font-size: 36px
        margin-top: 100px
        margin-bottom: 20px

      &-policy
        margin-top: 0
        margin-bottom: 40px
        font-size: 24px

      &-detail
        color: #003663
        position: relative
        font-size: 18px
        padding: 8px 0
        line-height: 26px

        &:before
          content: ""
          background-image: url(../../../public/img/tick-blue-icon.png)
          background-repeat: no-repeat
          left: -30px
          top: 10px
          height: 20px
          width: 20px
          position: absolute

      &-description
        margin: auto auto
        padding-left: 15px
        padding-right: 15px
      
  &__introduce
    padding-top: 50px

  &__introduce-title
    font-size: 24px
    color: #003663
    margin-bottom: 10px

  & .address:first-child
    background-repeat: no-repeat
    background-position: right 0
    background-size: 540px 800px

  & .address:nth-child(2)
    background-repeat: no-repeat
    background-position: right center
    background-size: 540px auto

  &__info
    &:first-child
      margin-top: -96px

      & .about-us__introduce-title
        padding-top: 100px

    &-item
      margin: 22px auto
      display: block
      line-height: 24px

    &-name
      font-weight: 600
      width: 160px
      font-size: 16px
      text-shadow: 0 0 1px #fff

    &-detail
      font-size: 16px
      text-shadow: 0 0 1px #fff

    table
      margin-bottom: 20px

  & .icon-sales
    &:before
      content: ""
      background-image: url(../../../public/img/sales-icon.png)
      background-repeat: no-repeat
      top: 8px
      left: 100px
      width: 65px
      height: 52px
      display: inline-block
      margin-right: 30px
      vertical-align: -4px

  & .icon-talen
    &:before
      content: ""
      background-image: url(../../../public/img/talen-icon.png)
      background-repeat: no-repeat
      top: 8px
      left: 100px
      width: 65px
      height: 52px
      display: inline-block
      margin-right: 30px
      vertical-align: -4px

  @media screen and (min-width: 768px) and (max-width: 991px)
    & .masthead-wrapper
      & p
        font-size: 60px
        text-align: center

    &__info
      background: none !important

  @media screen and (max-width: 767px)
    &__info
      background: none !important

      tr
        margin: 15px auto

      &-name
        display: none

      &-detail:before
        content: attr(data-title)
        font-size: 16px
        font-weight: 600
        display: block
        margin-bottom: 3px

    & .masthead-wrapper
      & p
        line-height: 154px

    & .masthead-wrapper
      & p
        font-size: 36px
        text-align: center

    &__content
      padding: 0 30px

    &__strategic
      .col-sm-6:last-child
        .about-us__strategic--item-title
          margin-top: 45px

          &:after
            top: 124px

      &--item-total
        margin-top: 80px

  @media screen and (max-width: 479px)
    &__strategic
      &--title
        font-size: 24px

      &--item
        &-title
          font-size: 40px

          &:after
            top: 79px

        &-total
          font-size: 24px

        &-policy
          font-size: 16px

        &-detail
          font-size: 14px

    & .icon-sales
      &:before
        content: ""
        background-image: url(../../../public/img/sales-icon.png)
        background-repeat: no-repeat
        top: 8px
        left: 103px
        width: 48px
        background-size: contain
        display: inline-block
        margin-right: 20px
        vertical-align: -18px

    & .icon-talen
      &:before
        background-image: url(../../../public/img/talen-icon.png)
        background-repeat: no-repeat
        top: 8px
        left: 103px
        width: 48px
        background-size: contain
        display: inline-block
        margin-right: 20px
        vertical-align: -13px

    & .address:nth-child(1)
      background-image: url(../../../public/img/sudico-building-mobile.png)
      margin-right: -15px
      background-size: auto

    & .address:nth-child(2)
      background-image: url(../../../public/img/vv-building-mobile.jpg)
      margin-right: -15px
      background-size: auto