@import '../main'

.page-header
  background-image url('~img/bg/contract_models.jpg')
  // background-position right center !important

.contracts
  padding-top: 100px
  padding-bottom: 50px
  display: grid
  grid-gap: 20px
  grid-template-columns: 100%

  @media (min-width: 1024px)
    grid-template-columns: auto 1fr

  .contract
    .heading
      font-size: 30px

    .explain
      padding-top: 20px
      line-height: $text_paragraph_line_height

  .contract-illu
    text-align: center

    img
      max-width: 100%
