@import '../main'

.contact
  .masthead-wrapper
    line-height: initial

  &__banner
    height: 254px
    display: flex
    align-items: center

    &-title
      font-size: 72px

    &-adress,
    &-phone
      font-size: 24px

    &-adress
      margin-bottom: 40px

  &__content
    &-description
      text-align: center
      padding: 50px 0
      color: #003663
      font-size: 24px
      line-height: 36px

  .col-centered
    float: none
    margin: 0 auto

  &__inquiry
    font-size: 18px
    color: #003663
    padding: 0 80px

    &-title
      padding-bottom: 15px

    &-detail
      padding-left: 10px
      clear: both

    &-checkbox
      margin: 6px 0

      &:nth-child(odd)
        width: 35%
        float: left

      &:nth-child(even)
        width: 65%
        float: left

      input[type="checkbox"]
        display: none

      input[type="checkbox"]+label span
        display: inline-block
        width: 16px
        height: 16px
        margin: -3px 10px 0 0
        vertical-align: middle
        background: url('../../../public/img/icon-check.png') top no-repeat
        cursor: pointer

      input[type="checkbox"]:checked+label span
        background: url('../../../public/img/icon-checked.png') top no-repeat

      label
        font-size: 18px
        color: #003663
        cursor: pointer
        font-weight: 400

  &__form
    clear: both
    padding: 20px 50px

    .form-control
      border: none
      box-shadow: none

    input,
    textarea
      height: 50px
      background: #ebebeb
      border-radius: 8px
      padding: 15px 30px
      font-size: 18px
      border: none
    
    textarea
      resize: none
      max-width: 100%
      min-width: 100%
      min-height: 305px
      max-height: 305px
      resize: none

    &-submit
      text-align: center

    .btn-send
      font-size: 16.5px
      padding: 10px 52px
      border-radius: 32px
      margin-top: 35px
      margin-bottom: 25px
      letter-spacing: 3px

  @media screen and (min-width: 768px) and (max-width: 991px)
    &__banner
      display: block
      text-align: center
      margin-right: 0
      padding: 10px 0

      &-title
        font-size: 60px
        margin-top: 20px

      &-adress
        margin-bottom: 15px

    &__content
      &-description
        font-size: 18px
        padding: 50px 30px

      &-detail
        padding: 0 35px

    &__inquiry
      padding: 0

      &-detail
        padding-left: 100px

    &__form
      padding: 20px 0

      textarea
        min-height: 145px
        max-height: 145px

  @media screen and (max-width: 767px)
    &__banner
      display: block
      text-align: center
      margin-right: 0
      padding: 23px 0
      height: auto
      width: 100vw
      margin-left: -20px

      &-title
        font-size: 30px
        margin-bottom: 10px

      &-adress
        margin-bottom: 0
        font-size: 20px

      &-phone
        font-size: 20px

    &__content
      &-description
        font-size: 18px
        padding: 30px 0

      &-detail
        padding: 0

    &__inquiry
      padding: 0

      &-detail
        padding-left: 0

      &-checkbox
        &:nth-child(odd)
          width: 100%
          float: none

        &:nth-child(even)
          width: 100%
          float: none

    &__form
      padding: 20px 0

      textarea
        min-height: 145px
        max-height: 145px

      .btn-send
        margin-top: 25px