@import '../main'

.page-header
	background-image url('~img/bg/contract_models.jpg')
	background-position right center !important

.page-content
	background $color_white
	padding-bottom 100px

	.contract
		margin-top 90px
		padding-bottom 30px

		.heading
			font-size 30px

		.explain
			margin-top 20px
			line-height $text_paragraph_line_height

		.contract-illu
			width 100%
			vertical-align middle
