@import '../main'

.kg-card-markdown
  .site-container.fluid
    max-width: none
    padding: 0 20px

    .row.folders
      display: grid
      grid-template-columns: 100%

      .folder
        .heading
          padding: 0 20px


    @media (min-width: 768px)
      .row.folders
        display: grid
        grid-template-columns: repeat(3, 33.33%)

.page-header
  background-image url('~img/bg/download.jpg')

.page-content
  background $color_white
  padding-bottom 100px

  .section-batch-download
    .explain
      margin-top 15px
      line-height $text_paragraph_line_height

  .section-links
    padding-top: 50px

    .folders
      background $color_white

      .folder
        padding-top: 50px
        padding-bottom: 30px
        height: 100%

        &.even
          background $color_blue
          color $color_white

          .file
            a:hover
              color $color_yellow

        &.odd
          background $color_white

          .file
            a:hover
              color $color_blue

        .heading
          font-size: 20px
          min-height: 50px

        .files
          padding 0 20px

          .file
            padding-top 20px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
