@import '../main'

.icon-see-more
  padding-left: 10px

.section-landing
  color $color_white
  min-height: 500px

  .landing-background
    position: relative
    background: $color_black

    .video-background
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      min-width: 100%
      min-height: 100%

  .landing-heading
    position: absolute
    top: 100px
    left: 0
    right: 0
    bottom: 0
    text-align: center
    display: flex
    align-items: center

    .container
      flex-grow: 1

      .heading
        font-size: 50px
        line-height: 1.1em

      .sub-heading
        font-size: 30px
        line-height: 1.1em
        padding-top: 20px

.section-whois
  background $color_white
  color: $color_black
  padding-top: 100px
  padding-bottom: 50px

  .content
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 20px
    grid-template-columns: 1fr

    .description
      text-align: center

      .heading
        font-size: 40px
        text-transform: uppercase

      .paragraph
        margin-top: 25px
        line-height: 24px

      .about-us
        margin-top: 20px

        a
          display: inline-block
          border-radius: 3px
          background: $color_green
          padding: 0 22px
          line-height: 45px
          font-family: 'Raleway'
          font-weight: bold

    .video-container
      display: none
      flex-shrink: 0

      .video
        background url('~img/frames/frame_imac.png') no-repeat center center
        margin: 0 auto
        width: 567px
        height: 447px
        padding: 19px

  @media (min-width: 610px)
    .content
      .video-container
        display: block

  @media (min-width: 1100px)
    .content
      grid-template-columns: 1fr 567px

      .description
        text-align: left

.section-domains
  background $color_blue
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .content
    .heading
      font-size 42px

    .sub-heading
      font-size 18px
      margin-top 20px

    .services
      padding-top: 50px
      display: grid
      grid-column-gap: 20px
      grid-row-gap: 50px
      grid-template-columns: 1fr

      .service
        .service-heading
          font-size 18px
          margin-top 30px

        .service-description
          margin-top 20px
          line-height 24px

        .service-learn-more
          margin-top 18px

    .domains
      padding-top: 50px
      display: grid
      grid-column-gap: 20px
      grid-row-gap: 50px
      grid-template-columns: repeat(2, 1fr)

      .domain
        text-align: center

        .logo-description
          padding: 20px 10px 0

    .logo
      margin: 0 auto
      max-width: 136px
      border-radius: 50%
      overflow: hidden
      border: 1px solid $color_white
      background: $color_blue_light
      position: relative

      &.small
        max-width: 80px

      .placeholder
        padding-top: 100%

      .img
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: flex
        justify-content: center
        align-items: center

    @media (min-width: 768px)
      .services
        grid-template-columns: repeat(3, 1fr)

        .service
          flex-grow: 1
          flex-basis: 0

      .domains
        grid-template-columns: repeat(4, 1fr)

    @media (min-width: 1440px)
      .domains
        grid-template-columns: repeat(8, 1fr)

.section-reviews
  background $color_green
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .heading
    font-size 40px

  .reviews
    padding-top: 50px
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 50px
    grid-template-columns: 1fr

    .review
      text-align: center

      .customer-pic
        margin: 0 auto
        max-width: 136px
        border-radius: 50%
        overflow: hidden
        border: 1px solid $color_white
        background: $color_blue_light
        position: relative

        .placeholder
          padding-top: 100%

        .img
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          display: flex
          justify-content: center
          align-items: center

          img
            width: 100%
            height: 100%

      .customer-name
        padding-top: 20px
        font-size: 20px
        line-height: 1.2em

      .customer-position
        font-size: 18px

      .customer-review
        padding-top: 10px
        line-height: 22px

  @media (min-width: 768px)
    .reviews
       grid-template-columns: repeat(2, 1fr)

.section-tech
  background $color_blue
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .heading
    font-size 40px

  .sub-heading
    font-size 18px
    margin-top 20px

  .description
    margin-top 25px

  .technologies
    padding-top: 50px
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 20px
    grid-template-columns: repeat(2, 1fr)

    .tech
      position: relative
      background $color_white
      overflow: hidden

      .placeholder
        padding-top: 50%

      .img
        position: absolute
        top: 5px
        left: 5px
        right: 5px
        bottom: 5px
        display: flex
        justify-content: center
        align-items: center

        img
          max-width: 100%
          max-height: 100%

  @media (min-width: 768px)
    .technologies
      grid-template-columns: repeat(5, 1fr)

  @media (min-width: 1440px)
    .technologies
      grid-template-columns: repeat(10, 1fr)

  .see-more-tech
    padding-top 50px

    a
      border-radius: 3px
      display: inline-block
      background: $color_white
      padding: 0 22px
      line-height: 45px
      font-family: 'Raleway'
      font-weight: bold

.section-why-ntq
  background: $color_white
  color: $color_black
  padding-top: 100px
  padding-bottom: 50px

  .content
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 20px
    grid-template-columns: 1fr

    .img
      display: none

    .reasons
      text-align: center

      .heading
        font-size: 40px

      .reason
        &.first-reason
          margin-top 62px

        &.first-reason
        &.second-reason
          padding-bottom 36px

        &.second-reason
        &.third-reason
          margin-top 38px

        .reason-heading
          font-size 18px
          line-height 24px

        .reason-explain
          line-height 24px

      .reason-break
        width: 225px
        margin: 0 auto
        border-bottom: 1px solid $color_gray_light

  @media (min-width: 768px)
    .content
      grid-template-columns: 278px 1fr

      .img
        display: block

      .reasons
        text-align: left

        .reason-break
          margin: 0

.section-partners
  background $color_blue
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .content

    .heading
      font-size 40px

    .sub-heading
      margin-top 20px
      font-size 18px

    .partner-map
      padding-top: 50px
      text-align: center

      img
        max-width: 100%
        max-height: 100%

.section-rd
  background: $color_green
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .heading
    font-size 40px

  .description
    font-size 20px
    margin-top 25px
    line-height 24px

  .rd-film
    margin-top 50px
    padding-top 38px
    padding-bottom 42px
    background url('~img/frames/frame_film.png') repeat-x center center

    .thumbs
      display: grid
      grid-column-gap: 20px
      grid-template-columns: 1fr repeat(6, fit-content(200px)) 1fr

      .thumb
        overflow: hidden

        .img
          border-radius: 8px
          overflow: hidden
          max-width: 200px
          margin: 0 auto
          text-align: center

          img
            vertical-align middle

  .rd-how-it-work
    margin-top 50px

    a
      display inline-block
      line-height 45px
      padding 0 22px
      border-radius 3px
      background $color_white
      font-family 'Raleway'
      font-weight bold

.section-articles
  background-color: $color_black

  .articles
    display: grid

  .article
    position relative
    height: 300px
    overflow hidden
    background-size cover
    background-position center center
    background-repeat no-repeat

    .article-overlay
      background rgba(0, 0, 0, .6)
      position absolute
      left 0
      right 0
      bottom 0
      top 0

      .content
        padding: 20px
        text-align: center
        height: 100%
        display: grid
        grid-row-gap: 20px
        grid-template-rows: min-content 1fr min-content

        .article-heading
          font-size: 20px

        .article-truncated
          font-size: 16px
          line-height: 1.2em

        .article-readmore
          font-size: 16px

          a
            display: inline-block
            border: 1px solid $color_white
            padding: 0 16px
            line-height: 38px

  @media (min-width: 768px)
    .articles
      grid-template-columns: repeat(2, 1fr)

  @media (min-width: 1440px)
    .articles
      grid-template-columns: repeat(3, 1fr)

.section-offer
  background: $color_blue
  color: $color_white
  padding-top: 100px
  padding-bottom: 50px

  .offer
    font-size: 30px
    line-height: 1.2em

  .offer-explain
    font-size: 25px
    line-height: 1.2em
    padding-top: 20px

  .contact-us
    padding-top 50px

    a
      display inline-block
      border-radius 3px
      background $color_white
      font-family 'Raleway'
      font-weight bold
      padding 0 22px
      line-height 70px
      font-size 30px

  .download-materials
    padding-top: 20px
    font-size: 25px
