@import '../main'

.site-content
  background: $color_white
  padding-bottom: 100px

  .title
    position: relative
    background: center center/cover
    background-image: linear-gradient(to right, #11bdbd, #b0e04e 85%) !important

    .heading
      position: relative
      padding: 200px 20px 20px
      z-index: 1

      h1
        font-size: 40px
        margin: 0
        color: $color_white

      .publish-date
        color: $color_white
        font-size: 12px
        padding: 5px 0
        line-height: 1.5em

  .content
    padding: 20px 0

    line-height: 1.5em

    h1
      font-size: 30px
      margin: 10px 0

    h2
      font-size: 24px
      margin: 10px 0

    h3
      font-size: 20px
      margin: 10px 0

    p
      padding: 10px 0 20px

    img
      max-width: 100%
      width: 100%

    ul, ol
      padding: 5px 20px
      max-width: 100%

      & > li
        margin: 10px 0

    ul
      list-style: disc

    ol
      list-style: decimal

    code
      padding: 0 5px 2px
      background-color: #e5eff5

    pre
      display: block
      background-color: #e5eff5
      padding: 5px

    blockquote
      padding: 10px 20px
      border-left: 3px solid black
      margin-bottom: 10px

      p
        padding: 0

    hr
      margin: 4vh 0
      border-top: 1px solid black

    iframe
      display: block
      width: 100%

    a
      text-decoration: underline

    figure
      margin: 0
