@import '../main'

.research-dev
  &__banner
    &-title
      padding-left: 15px
      font-size: 60px
      color: #ffffff
      text-transform: uppercase

  &__introduce
    height: 975px
    width: 100%
    background-image: url('../../../public/img/banner-research.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    clear: both

    &-content
      padding-top: 110px
      width: 63%
      float: right
      color: #003663
      font-size: 18px

    &-title
      font-size: 60px
      margin: 0

    &-description
      margin-top: 5px

    &-reason
      margin-top: 35px

      &__title
        font-size: 24px
        margin: 10px 0
        font-weight: 600

      &__description
        margin: 0

  &__contact
    width: 63%
    float: right
    margin-top: -380px
    background: #003663
    color: #ffffff
    text-align: center
    font-size: 30px
    padding: 40px 20px 60px
    border-radius: 10px
    position: relative

    &__title
      margin-bottom: 0

    &__description
      line-height: 48px
      margin-top: 20px

    &__btn
      position: absolute
      bottom: -30px
      padding-right: 20px
      width: 100%

      a
        background-image: linear-gradient(to right, #11bdbd, #b0e04e 85%)
        color: #fff
        display: inline-block
        padding: 14px 32px
        border-radius: 10px

  &__team
    padding: 50px 0

    &-title
      font-size: 48px
      font-weight: 600
      color: #003663
      margin-bottom: 0
      margin-top: 75px
      margin-bottom: 15px

    &-description
      font-size: 18px
      color: #003663
      margin: 0
      margin-bottom: 115px

    &-thumnail
      margin-right: -10px
      margin-left: -10px

      &__item
        height: 165px
        outline: none
        padding-right: 10px
        padding-left: 10px

        img
          width: 100%
          height: 100%
          cursor: pointer

    &-detail
      padding-left: 0

      &__item
        &.slick-slide
          background-repeat: no-repeat
          background-position: center center
          background-size: cover
          height: 500px

    & .slick-prev
      top: -25px
      right: 30px
      left: initial

      &:before
        content: url('../../../public/img/icon-arrow-left.png')

    & .slick-next
      top: -25px
      right: 0

      &:before
        content: url('../../../public/img/icon-arrow-right.png')

  &__video
    background-color: #f1f1f3

    &-title
      margin: 30px 12px
      color: #003663
      font-size: 24px

      &--own
        padding-top: 0
        margin-top: 0

    &-item
      margin-bottom: 20px

      &:nth-of-type(odd)
        padding-right: 10px

      &:nth-of-type(even)
        padding-left: 10px

      iframe
        height: 310px

  @media screen and (min-width: 992px) and (max-width: 1199px)
    &__introduce
      &-content
        width: 60%

    &__contact
      width: 60%
      margin-top: -350px

    &__team
      &-detail
        padding-left: 0

        &__item
          &.slick-slide
            height: 535px

      & .slick-prev
        right: 35px

      & .slick-next
        right: 5px

  @media screen and (min-width: 768px) and (max-width: 991px)
    &__banner
      &-title
        font-size: 60px
        text-align: center
        line-height: 66px;
        padding: 60px 0;

    &__introduce
      background-size: auto

      &-content
        text-shadow: 0 0 10px #000
        width: 100%
        color: #fff
        padding-top: 40px

      &-title
        font-size: 36px
        margin-bottom: 15px

      &-reason
        margin-top: 0

        &__title
          font-size: 18px

        &__description
          font-size: 16px

        &:last-child
          margin-top: 15px

    &__contact
      width: 100%
      font-size: 30px
      margin-top: 0

    &__team
      &-title
        font-size: 36px
        margin-top: 50px

      &-description
        margin-bottom: 60px

      &-thumnail
        margin-bottom: 30px

      &-detail
        padding-left: 15px
    

    &__video
      iframe
        height: 190px

  @media screen and (max-width: 767px)
    .masthead
      line-height: initial

    &__banner
      &-title
        font-size: 36px
        text-align: center
        transform: translateY(-50%)
        position: relative
        top: 50%

    &__introduce
      background-size: auto

      &-content
        text-shadow: 0 0 10px #000
        width: 100%
        color: #FFFFFF
        padding-top: 40px

      &-title
        font-size: 36px
        margin-bottom: 15px

      &-reason
        margin-top: 0

        &__title
          font-size: 18px
          line-height: 26px

        &__description
          font-size: 16px

        &:last-child
          margin-top: 15px

    &__contact
      width: 100%
      font-size: 18px
      margin-top: 0
      padding: 30px 20px

      &__description
        line-height: 36px

      &__btn
        bottom: -20px
        padding-right: 0
        left: 50%
        transform: translateX(-50%)

    &__team
      &-title
        font-size: 36px
        margin-top: 50px

      &-description
        margin-bottom: 60px

      &-thumnail
        margin-bottom: 30px

        &__item
          display: none !important

      &-detail
        padding-left: 15px

        &__item
          height: 300px !important

      & .slick-next
        top: 0
        right: 5px

      & .slick-prev
        top: 0
        right: 35px

    &__video
      iframe
        height: 158px

      &-item
        margin-bottom: 25px

        &:nth-of-type(odd)
          padding-right: 15px

        &:nth-of-type(even)
          padding-left: 15px