@import '../main'

.page-header
  background-image url('~img/bg/services.jpg')

.page-content
  background $color_white

  .section-outsource
  .section-solution
  .section-graphic-design
    padding-top 50px
    padding-bottom 30px

  .section-solution
    background $color_blue

  .heading
    font-size 30px

  .sub-heading
    font-size 18px
    margin-top 5px

  .explain
    margin-top 30px
    line-height $text_paragraph_line_height

    li
      margin-top $text_paragraph_line_height

  .service-illu
    text-align center
    line-height 243px
    background $color_white

    img
      vertical-align middle
      max-width 100%
      max-height 100%

  .outsource-list
    li
      padding-bottom 28px

      &.last
        padding-bottom 0

      .order
        width 20px
        float left

      .item
        margin-left 20px
