@import '../main';

.page-header
	background-image url('../img/bg/services.jpg')

.page-content
	background $color_white
	padding-bottom 80px

	.explain
		margin-top 20px
		line-height $text_paragraph_line_height
		font-size 18px
		padding-bottom 20px

	.section
		margin-top 80px

		.heading
			line-height 38px
			font-size 30px

			.index
				display inline-block
				margin-right 10px
				border 1px solid $color_blue
				border-radius 50%
				width 40px
				font-size 24px
				text-align center
