@font-face {
  font-family: robotoRegular;
  src: url('../../../public/fonts/roboto/roboto-regular.ttf');
}

@font-face {
  font-family: robotoLight;
  src: url('../../../public/fonts/roboto/roboto-light.ttf');
}

@font-face {
  font-family: robotoMedium;
  src: url('../../../public/fonts/roboto/roboto-medium.ttf');
}

@font-face {
  font-family: robotoBold;
  src: url('../../../public/fonts/roboto/roboto-bold.ttf');
}

@font-face {
  font-family: 'kozukaGothicRegular';
  src: url('../../../public/fonts/kozuka-gothic/KozGoPro-Regular.otf');
}

@font-face {
  font-family: kozukaGothicLight;
  src: url('../../../public/fonts/kozuka-gothic/KozGoPro-Light.otf');
}

@font-face {
  font-family: kozukaGothicMedium;
  src: url('../../../public/fonts/kozuka-gothic/KozGoPro-Medium.otf');
}

@font-face {
  font-family: kozukaGothicBold;
  src: url('../../../public/fonts/kozuka-gothic/KozGoPro-Bold.otf');
}

@font-face {
  font-family: fa5FreeRegular;
  src: url('../../../public/fonts/fa-5-free/font-awesome-5-free-regular-400.otf');
}

@font-face {
  font-family: fa5FreeBlack;
  src: url('../../../public/fonts/fa-5-free/font-awesome-5-free-solid-900.otf');
}