// colors

$color_white = #ffffff
$color_black = #000000
$color_green = #7bc043
$color_blue = #0392cf
$color_blue_light = #6dcff6
$color_gray = #c5d2e1
$color_gray_light = #e1e1e1
$color_gray_dark = #777777
$color_yellow = #fff000
$color_yellow_light = #f7fee4

// layout
$layout_container_w = 1180px

$layout_header_h = 100px

$layout_footer_h = 500px

// z-index
$zindex_topmost = 9999

// text
$text_base_size = 16px
$text_paragraph_line_height = 22px
$text_main_heading_size = 42px
