.site-footer
  background: $color_black
  color: $color_white
  padding-top: 50px
  padding-bottom: 30px

  .footer-break
    border-bottom: 1px solid $color_gray_light
    margin: 20px 0

  .contact
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 10px
    padding-bottom: 30px

  .content
    display: grid
    grid-column-gap: 20px
    grid-row-gap: 20px
    text-align: center

    .socials
      font-size: 28px
      white-space: nowrap

      a:not(:last-child)
        margin-right: 10px

  @media (min-width: 768px)
    .contact
      grid-template-columns: 1fr 1fr

    .content
      grid-template-columns: min-content 1fr min-content

      .socials
      .copyright
        display: flex
        align-items: center
        text-align: left
