$_border_width = 1px
$_line_height = $layout_header_h - $_border_width

.site-header
  position fixed
  top 0
  left 0
  right 0
  height $layout_header_h
  z-index $zindex_topmost
  background: transparent
  color: $color_white
  border-bottom: $_border_width solid transparent

  &.float {
    background: $color_white
    color: $color_black
    border-bottom: $_border_width solid $color_gray
    // transition:
    //   background .2s,
    //   color .2s,
    //   border-bottom .2s;
  }

  .company-logo
    line-height $_line_height

    img
      vertical-align middle

  .top-actions
    text-align right
    // width 145px
    display inline-block
    line-height $_line_height

    .language-switch
      background: $color_white
      display block
      border-radius 3px
      border 1px solid $color_gray_light
      margin-left 15px
      size 34px
      margin-top (($layout_header_h - 34px) / 2)
      background-position center center
      background-repeat no-repeat

      &.ja
        background-image url('~img/flags/ja.png')

      &.en
        background-image url('~img/flags/en.png')

    .menu
      display: block
      size: 34px

  .top-nav
    white-space nowrap
    text-align right
    margin-left 130px

    &.en
      .top-menu
        .nav-item
          a
            font-weight bold

    .top-menu
      display inline-block
      height $_line_height
      vertical-align top

      .nav-item
        display inline-block

        a
          display block
          line-height $_line_height
          padding 0 20px
          transition color .2s

          &:hover
            color $color_blue

          &.contact
            display block
            height 34px
            line-height 34px
            border-radius 3px
            background $color_blue
            color $color_white
            transition background .2s

            &:hover
              background $color_blue_light
              color $color_white

        &.dropdown-menu
          position relative

          &:hover
            .dropdown
              display block

          .dropdown
            position absolute
            background: $color_white
            color: $color_black
            border-radius 5px
            border 1px solid $color_gray_light
            padding 10px 22px 0
            width 250px
            top ($layout_header_h - 10px)
            left 0
            display none

            .arrow-up
              width 20px
              height 10px
              background url('~img/icons/arrow_dropdown_menu.png') no-repeat center center
              margin-top -20px
              margin-left 5px

            .dropdown-item
              border-top 1px solid $color_gray_light
              text-align left

              &.first
                border-top none

              a
                padding 0
                line-height 52px
