.site-footer
	// height $layout_footer_h

	background $color_black
	color $color_white

	.first-part
		padding-top 56px
		padding-bottom 65px

		.footer-links
			.footer-link
				margin-top 17px


		.contact-address
			margin-top 23px
			line-height 21px
			height 110px

		.contact-person
			line-height 21px

	.footer-break
		border-bottom 1px solid $color_gray_dark

	.second-part
		padding-top 40px
		padding-bottom 50px

		.copyright
			margin-left 23px
			line-height 57px
