.site-header
	position fixed
	top 0
	left 0
	right 0
	height $layout_header_h
	z-index $zindex-topmost

	background $color_white

	border-bottom 1px solid $color_gray

	.company-logo
		line-height $layout_header_h
		width 100px

		img
			vertical-align middle

	.top-nav
		height $layout_header_h

		.nav-item
			float left
			display block

			line-height $layout_header_h
			padding 0 24px

			font-weight bold
